{% extends 'base.html' %}

{% block header_title %}主页{% endblock %}

{% block body %}
    {% include 'module/header.html' %}
    {% include 'module/left-sidebar.html' %}


    <!-- 内容区域 -->
    <div class="tpl-content-wrapper">

        <div class="container-fluid am-cf">
            <div class="row">
                <div class="am-u-sm-12 am-u-md-12 am-u-lg-9">
                    <div class="page-header-heading">
                        <span class="am-icon-home page-header-heading-icon"></span> 微信管理首页
                    </div>
                    <p class="page-header-description"></p>
                </div>
                <div class="am-u-lg-3 tpl-index-settings-button">
                </div>
            </div>

        </div>

        <div class="row-content am-cf">
            <div class="row  am-cf">
                <div class="am-u-sm-12 am-u-md-12 am-u-lg-4">
                    <div class="widget am-cf">
                        <div class="widget-head am-cf">
                            <div class="widget-title am-fl">关注人数</div>
                            <div class="widget-function am-fr">
                                <a href="/manage/userlist" class="am-icon-cog"></a>
                            </div>
                        </div>
                        <div class="widget-body am-fr">
                            <div class="am-fl">
                                <div class="widget-fluctuation-period-text">
                                    关注总人数
                                </div>
                            </div>
                            <div class="am-fr am-cf">
                                <div class="widget-fluctuation-description-amount text-success am-text-right">
                                    {{ subscribe_count }}
                                </div>
                                <div class="widget-fluctuation-description-text am-text-right">
                                    近一个月有{{ m_subscribe_count }}个人关注过
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="am-u-sm-12 am-u-md-4">
                    <div class="widget am-cf">
                        <div class="widget-head am-cf">
                            <div class="widget-title am-fl">服务器负载</div>
                            <div class="widget-function am-fr">
                                <a href="javascript:;" class="am-icon-cog"></a>
                            </div>
                        </div>
                        <div class="widget-body widget-body-md am-fr">

                            <div class="am-progress-title">CPU Load <span
                                    class="am-fr am-progress-title-more">{{ cpu }}% / 100%</span></div>
                            <div class="am-progress">
                                <div class="am-progress-bar" style="width: {{ cpu }}%"></div>
                            </div>
                            <div class="am-progress-title">Memory Load <span
                                    class="am-fr am-progress-title-more">{{ memory }}% / 100%</span></div>
                            <div class="am-progress">
                                <div class="am-progress-bar  am-progress-bar-warning" style="width: {{ memory }}%"></div>
                            </div>
                            <div class="am-progress-title">Disk Load <span
                                    class="am-fr am-progress-title-more">{{ disk }}% / 100%</span></div>
                            <div class="am-progress">
                                <div class="am-progress-bar am-progress-bar-danger" style="width: {{ disk }}%"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



        </div>
    </div>

{% endblock %}

{% block footer_static %}
    <script src="{{ static_url('assets/js/echarts.min.js') }}"></script>
    <script src="{{ static_url('assets/js/amazeui.datatables.min.js') }}"></script>
    <script src="{{ static_url('assets/js/dataTables.responsive.min.js') }}"></script>
{% endblock %}